# Created by https://www.toptal.com/developers/gitignore/api/c++,cmake
# Edit at https://www.toptal.com/developers/gitignore?templates=c++,cmake
/npcap-sdk
/.vscode
### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.cmake
*.in

### CMake Patch ###
# External projects
*-prefix/

# End of https://www.toptal.com/developers/gitignore/api/c++,cmake
.vscode/settings.json
name.txt
build/libraries/parse_stream/parsestreamConfig.cmake
build/libraries/parse_stream/parsestreamConfigVersion.cmake
build/libraries/parse_stream/cmake/parsestreamTargets.cmake
libraries/parse_stream/Config.cmake.in
libraries/parse_stream/cmake/Installing.cmake


*.pcap
*.pcapng